{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%- if posts.size > 0 -%}
  <ul class="list-plain tabular-nums">
    {%- for post in posts limit: include.limit -%}
      <li>
        <a href="{{ post.url | relative_url }}" class="plain">
          <flex class="align-baseline">
            <span class="muted sr flex-shrink small mh nowrap font-ui">{{ post.date | date: "%Y · %m" }}</span>
            <u>{{ post.title }}</u>
          </flex>
        </a>
      </li>
    {%- endfor -%}
  </ul>
{%- else -%}
  <p class="muted small">No posts yet.</p>
{%- endif -%}
