{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%- if posts.size > 0 -%}
  <ul class="list-plain tabular-nums">
    {%- for post in posts limit: include.limit -%}
      <li>
        <a href="{{ post.url | relative_url }}" class="plain post-list-link">
          <span class="muted small font-ui post-list-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <span class="post-list-title"><u>{{ post.title }}</u></span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
{%- else -%}
  <p class="muted small">No posts yet.</p>
{%- endif -%}
